*
{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin: 0%;
    padding: 0%;
}
.header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(7, 17, 102);
    border-radius: ;
}
.left
{
    padding: auto;
    margin: 10px 30px;
    width: 20%;
    /* align-items: flex-start;
    border: 2px solid black;
    display:flex;
    position: absolute;
    left: 34px;
    top: 20px; */
} 
.left img{
    width: 80px;
    
}
.easeful{
    color: #888484;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}
 /* .mid
{
    padding: 20px;
    margin: 10px 20px;
    margin:  20px auto;
    display: inline-flex; 
    width: 33%;
    align-items: center;
    padding: 12px 20px; */
}  */

.right
{
    padding: 20px 20px;
   margin-: 20px;   
    /* border: 2px solid black;
    display:inline-flex;
    position: absolute;
    ; */
    
}
#search
{
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
}
.navbar{
     /* display: inline block */
     text-align: center;
}
.navbar ul{
    /* border: 2px solid rgb(247, 240, 240); */
     display: flex;
     align-items: center;
     justify-content: center;
     list-style: none;
    /* font-size: 20px ;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-decoration: none;
    padding: 30 px;
    margin: 10px 25px;
    font-weight: 10px; */
}
.navbar ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}
.navbar ul li a{
    color: #dad8d8;
    text-decoration: none;
}
.active,.navbar ul li:hover{
    background-color: #db044c;
    border-radius: 3px;
}
.submenu{
    display: none;
    /* list-style-type: none;
    position: absolute;
    display: none; */
}
.navbar ul li:hover .submenu
{
  display: block;
  position: absolute;
  background-color: gray;
  border-radius: 3px;
  margin-top: 10px;
}
.navbar ul li:hover .submenu ul
{
    display: block;
    margin: 5px;
}
.navbar ul li:hover .submenu ul li
{
    border-bottom: 1px dotted white;
}
    
.navbar ul li:hover .submenu ul li:last-child 
{ 
    border-bottom: none;
    /* font-weight:100px;
  text-decoration: none;
  color: gray;  
  cursor:pointer ;  */
}
/* .navbar li a:hover,.navbar li a:active
{
    text-decoration: underline;
    color:crimson;
} */
.main{
background:url(https://www.homewideuae.com/media/welcome-offer.png) ; 
 height: 500px;
}
.product{
    width: 100%;
    height: 150px;
    background: rgb(4, 22, 54);
    color: #000;
    /* animation-name: product;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 2s; */
}
    /* @keyframes product {
        from{
            background-color: palevioletred;
    }
        to{
            background-color: #db044c;
        }
        
    } */

.product h2{
    /* margin: 10px 40px; */
    padding: 30px 20px;
    color: #a1aec0;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    animation-name: flagship;
    animation-duration: 4s;
    animation-iteration-count: infinitive;
    animation-delay: 2s;
}
    @keyframes flagship{
       from {background-color: violet;
               color: yellow;
        }
        to{background-color: red;
            color: green;
        }

    }
    

/* .heading{
    margin: 0%;
    padding:0%; 
} */
.heading h1{
    margin-left: 30px;
    padding:20px 30px ;
    color: rgb(7, 17, 102) ;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
    font-style: normal;
}
.sub h3{
    margin: 20px 10px;
    padding: auto;
    color: grey;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100px;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.item{
    width:300px;
     /* height: 100px;  */
    background-color: #19567e;
    margin: 10px;
}
.item img{
    width: 250px;
    height: 200px;
}
/* .merge{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 3;
} */
/* .search{
    float: right;
    padding-right: 20px;
    margin: 30px;
}
.navbar input{
border:2px solid black ;
border-radius: 4px;
padding: 3px 14px;
width: 120px;
}
.logo{
    float: left;
    border: 2px solid black;
    background-color: aqua;
    color: blue;
    margin: 24px 50px;
    padding: 4px;
    background-image: url();
} */